= form_for [@user, RegisteredApplication.new] do |f|
  .row
    .col-md-8
      %b= f.text_field :name, :size => '25%', placeholder: "Enter the new name here"
      %br
      %br
      %b= f.text_field :url, :size => '25%', placeholder: "Enter the new url here"      
    %br
      %br
        .col-md-8
          %b= f.submit 'Add', class: 'btn btn-success'